<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render '/layouts/light_section' %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'main_content_section', product: @product %>
      <div class="row productsContent">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
        <%= render partial: "bottom_items", collection: @related_products, as: :related_product %>
      </div>
    </div>
  </section>
</div>
